#yellowdiv {
    position: absolute;
    background: yellow;
    width: 1000px;
    height: 1000px;
    z-index: 1;
}

#reddiv {
    position: absolute;
    background: red;
    width: 100px;
    height: 100px;
    z-index: 3;
    top: 10px;
}

#blackdiv {
    position: absolute;
    background: black;
    width: 100px;
    height: 100px;
    z-index: 2;
}

#whitediv {
    position: absolute;
    background: white;
    width: 100px;
    height: 100px;
    z-index: 4;
}